*{margin:0 ; padding:0; box-sizing: border-box;}

body{
    background-image: url(white.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: tahoma;
}
.grid{
    display: grid;
    height: 100%;
}